<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/jqplot")
    @Styles.Render("~/Content/select2")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @Html.Action("Navigation", "Layout");
    @RenderBody()
    <footer class="footer">
        <div class="container">
            <p>Powered by <a href="http://twitter.github.com/bootstrap/">Bootstrap</a>, <a href="http://jquery.com/">jQuery</a> and <a href="http://www.jqplot.com/">jqPlot</a>.</p>
        </div>
    </footer>
    @Scripts.Render("~/bundles/site")
    @Scripts.Render("~/bundles/signalr")
    @Html.Partial("_SignalR")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqplot")
    @Scripts.Render("~/bundles/select2")
    @RenderSection("scripts", required: false)
</body>
</html>
